@model mvc_ef.Models.Language

@{
    ViewData["Title"] = "Add Language";
}

<h1>Add</h1>

<h3>Are you sure you want to Add @Model.LanguageName</h3>
<div>
    <h4>to @ViewData["PersonName"] (@ViewData["PersonId"])</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        
        </dt>
        <dd class = "col-sm-10">
        
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageName)
        </dd>
    </dl>
    
    <form asp-action="AddLanguage">
        <input type="hidden" asp-for=@Model.Id />
        <input type="submit" value="Add" class="btn btn-primary" /> |
        <a asp-action="Edit" asp-controller="PersonLanguage" asp-route-id=@ViewData["PersonId"]>Back to Language List</a>
    </form>
</div>
