@model mvc_ef.Models.Person

    @{
	ViewData["Title"] = "Languages";
    }

    <h1>@Model.PersonName</h1>

    <table class="table">
	<thead>
            <tr>
		<th>
                    @Html.DisplayNameFor(model => model.Languages)
		</th>
		<th>

		</th>
		</th>
            </tr>
	</thead>
	<tbody>
	    @foreach (var item in Model.Languages)
	    {
		<tr>
		<td>
	    	@Html.DisplayFor(modelItem => item.LanguageName)
		</td>
		<td>
                    <a asp-action="Add" asp-route-languageId="@item.LanguageId" asp-route-id="@Model.PersonId">Add</a>
		</td>
		</tr>
		}
	</tbody>
    </table>
    <div>
	<a asp-action="IndexDelete" asp-route-id="@Model.PersonId">Back to List</a>
    </div>
